# Ignore everything by default
*

# Allow traversing directories
!*/

# Track Python source files
!*.py
!*.ipynb
!initial_params_presets.yaml
!requirements.txt
!README.md
!CITATION.cff

# Track this ignore file so the rule is shared
!.gitignore
